body {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.66);
    background-color: #414141;
    }

.title-text {
    padding-left: 2px;
    width: 184px;
    height: 24px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fdfdfd;
}

.content {
    width: 100%;
    margin-left: 128px;
    margin-right: 128px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 61px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.66);
    background-color: #017efe;
}

.DEMO-Streaming {
    padding-left: 3px;
    font-family: Raleway;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fdfdfd;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login {
    width: 69px;
    height: 14px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fdfdfd;
}

.trial {
    width: 156px;
    height: 37px;
    background-color: #424242;
    display: flex;
    align-items: center;
}

.trial-text {
    margin-left: 16px;
    width: 156px;
    height: 14px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fdfdfd;
}

.footer {
    min-height: 217px;
    display: flex;
    padding-bottom: 48px;
    padding-top: 44px;
    background-color: #1e1e1e;
    align-self: stretch;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social-button-item {
    height: 30px;
    margin-right: 20px;
}
.footer-store-button-item {
    height: 40px;
    margin-left: 20px;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-link-item {
    margin-right: 15px;
    font-family: Raleway;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #babfc3;
}

.copyright {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #babfc3;
}